<template>
  <div class="container">
    <vs-row vs-align="center" vs-justify="center">
      <vs-col
        vs-lg="4"
        vs-sm="6"
        vs-xs="10">
        <vs-card style="margin: 20px;">
          <div slot="header">
            <h3>User Login</h3>
          </div>
          <vs-row vs-align="center" vs-justify="center">
            <vs-col vs-w="12">
              <vs-input
                v-model="username"
                :danger="error"
                danger-text="Check you username or email"
                label="Username"
                placeholder="Username or e-mail" />
            </vs-col>
            <vs-col vs-w="12">
              <vs-input
                v-model="password"
                :danger="error"
                label="Password"
                type="password"
                danger-text="Check your password"
                placeholder="Your password" />
            </vs-col>
          </vs-row>
          <div slot="footer">
            <vs-row vs-justify="flex-start">
              <vs-button
                color="success"
                type="filled"
                icon="account_circle"
                size="small"
                @click.native="userSignIn">
                Sign in
              </vs-button>
            </vs-row>
          </div>
        </vs-card>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      error: false,
    };
  },
  methods: {
    userSignIn() {
      if (!this.username || !this.password) {
        this.error = true;
        return;
      }

      const encoded = window.btoa(JSON.stringify({
        username: this.username,
      }));
      window.sessionStorage.setItem('auth', encoded);
      this.error = false;
      this.$router.replace('/user');
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.vs-input {
  margin: 5px;
  width: auto;
}
</style>
