<template>
  <vs-row>
    <vs-col class="text-center" vs-w="12">
      <vs-icon icon="sentiment_dissatisfied" size="large" />
    </vs-col>
    <vs-col class="text-center" vs-w="12">
      <h1>Ops!</h1>
    </vs-col>
    <vs-col class="text-center" vs-w="12">
      <h3>The page you are looking for are not here anymore...</h3>
    </vs-col>
    <vs-col class="text-center" vs-w="12">
      <vs-button type="relief" to="/">
        Back to Home...
      </vs-button>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  name: 'NotFound',
};
</script>

<style lang="scss" scoped>
.text-center {
  text-align: center;
  margin-bottom: 20px;
}
</style>
