<template>
  <div class="echo-wrapper">
    <ul>
      <li v-for="(message, i) in connectionMessages" :key="i">
        {{ message }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'EchoComponent',
  computed: {
    connectionMessages() {
      return this.$store.getters['message/connectionMessages'];
    },
  },
  beforeCreate() {
    // https://www.piesocket.com/websocket-tester
    const testKey = 'oCdCMcMPQpbvNjUIzqtvF1d2X2okWpDQj4AwARJuAgtjhzKxVEjQU6IdCjwm';
    const url = 'demo.piesocket.com/v3/channel_1';
    const wsUrl = `${url}?apiKey=${testKey}&notify_self`;

    this.$store.dispatch('message/connect', wsUrl);
  },
};
</script>

<style lang="scss" scoped>
.echo-wrapper {
  margin: 30px;
}
</style>
