<template>
  <vs-table
    :data="userList"
    search
    stripe
    pagination
    max-items="5"
    style="width: 100%; padding: 20px;">
    <template #thead>
      <vs-th sort-key="name">
        #
      </vs-th>
      <vs-th sort-key="name">
        Name
      </vs-th>
      <vs-th sort-key="email">
        Email
      </vs-th>
      <vs-th sort-key="Country">
        Country
      </vs-th>
      <vs-th sort-key="phone">
        Phone
      </vs-th>
      <vs-th sort-key="Birthday">
        Birthday
      </vs-th>
      <vs-th>
        Actions
      </vs-th>
    </template>
    <template slot-scope="{ data }">
      <vs-tr v-for="(tr, index) in data" :key="index">
        <vs-td :data="data[index].id">
          {{ data[index].id }}
        </vs-td>
        <vs-td :data="data[index].name">
          {{ data[index].name }}
        </vs-td>
        <vs-td :data="data[index].email">
          <a :href="`mailto:${data[index].email}`">
            {{ data[index].id }}
          </a>
        </vs-td>
        <vs-td :data="data[index].country">
          {{ data[index].country }}
        </vs-td>
        <vs-td :data="data[index].phone">
          {{ data[index].phone }}
        </vs-td>
        <vs-td :data="data[index].birthday">
          {{ data[index].birthday }}
        </vs-td>
        <vs-td :data="data[index].id">
          <vs-button
            color="primary"
            type="filled"
            icon="remove_red_eye"
            size="small"
            @click.native="changeRoute('view', data[index].id)" />
          <vs-button
            color="success"
            type="filled"
            icon="edit"
            size="small"
            @click.native="changeRoute('edit', data[index].id)" />
          <vs-button
            color="danger"
            type="filled"
            icon="delete"
            size="small"
            @click.native="deleteUser(data[index].id)" />
        </vs-td>
      </vs-tr>
      <div class="overlay" :class="{ loading: isLoading }" />
    </template>
  </vs-table>
</template>

<script>
import changeRouteMixin from '@/mixin/changeRoute';

export default {
  name: 'UserList',
  mixins: [changeRouteMixin],
  computed: {
    isLoading() {
      return this.$store.getters.isLoading;
    },
    userList() {
      return this.$store.getters.getUserList;
    },
  },
  methods: {
    deleteUser(userId) {
      this.$store.dispatch('removeUser', userId);
    },
  },
};
</script>

<style lang="scss" scoped>
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.6);

  &.loading {
    display: block;
  }
}
</style>
