<template>
  <vs-row>
    <vs-col
      vs-type="flex"
      vs-jsutify="left"
      vs-align="left"
      vs-w="12">
      <vs-card style="margin: 20px;">
        <template #header>
          <h3>Create User</h3>
        </template>
        <vs-row>
          <vs-col
            vs-type="flex"
            vs-justigy="left"
            vs-align="left"
            vs-w="12"
            style="margin: 20px;">
            <user-form v-model="userData" />
          </vs-col>
        </vs-row>
        <template #footer>
          <vs-row vs-justify="flex-start">
            <vs-button
              color="success"
              type="filled"
              icon="save"
              size="small"
              @click.native="createUser">
              Create User
            </vs-button>
            <vs-button
              color="danger"
              type="filled"
              icon="cancel"
              size="small"
              style="margin-left: 5px;"
              @click.native="changeRoute('list')">
              Cancel
            </vs-button>
          </vs-row>
        </template>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
import UserForm from '@/components/UserForm.vue';
import changeRouteMixin from '@/mixin/changeRoute';

export default {
  name: 'CreateUser',
  components: {
    UserForm,
  },
  mixins: [changeRouteMixin],
  data() {
    return {
      userData: {
        name: '',
        email: '',
        birthday: '',
        country: '',
        phone: '',
      },
    };
  },
  methods: {
    async createUser() {
      await this.$store.dispatch('createUser', this.userData);
      this.changeRoute('list');
    },
  },
};
</script>
