<template>
  <vs-row>
    <vs-col
      vs-type="flex"
      vs-jsutify="left"
      vs-align="left"
      vs-w="12">
      <vs-card style="margin: 20px;">
        <template #header>
          <h3>User</h3>
        </template>
        <vs-row>
          <vs-col
            vs-type="flex"
            vs-justify="left"
            vs-align="left"
            vs-w="12">
            <user-table-list />
          </vs-col>
        </vs-row>
        <template #footer>
          <vs-row vs-justify="flex-start">
            <vs-button
              color="primary"
              type="filled"
              icon="fiber_new"
              size="small"
              @click.native="changeRoute('create')">
              Create User
            </vs-button>
          </vs-row>
        </template>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
import changeRouteMixin from '@/mixin/changeRoute';
import UserTableList from '@/components/UserList.vue';

export default {
  name: 'ListUsers',
  components: {
    UserTableList,
  },
  mixins: [changeRouteMixin],
  beforeMount() {
    this.getAllUsers();
  },
  methods: {
    getAllUsers() {
      this.$store.dispatch('fetchUserList');
    },
  },
};
</script>

<style lang="scss">
.vs-card--footer {
  margin-top: -2%;
}
</style>

<style lang="scss" scoped>
.vs-button {
  margin-left: 5px;
}
</style>
