<template>
  <vs-row>
    <vs-col
      vs-type="flex"
      vs-justify="left"
      vs-align="left"
      vs-w="12">
      <vs-card style="margin: 20px;">
        <template #header>
          <h3>View User</h3>
        </template>
        <vs-row>
          <vs-col
            vs-type="flex"
            vs-justify="left"
            vs-align="left"
            vs-w="12"
            style="margin: 20px;">
            <user-form :value="userData" disabled />
          </vs-col>
        </vs-row>
        <template #footer>
          <vs-row vs-justify="flex-start">
            <vs-button
              color="primary"
              type="filled"
              icon="arrow_back"
              size="small"
              @click.native="changeRoute('list')">
              Back
            </vs-button>
            <vs-button
              color="success"
              type="filled"
              icon="edit"
              size="small"
              style="margin-left: 5px;"
              @click.native="changeRoute('edit', userId)">
              Edit User
            </vs-button>
          </vs-row>
        </template>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
import UserForm from '@/components/UserForm.vue';
import changeRouteMixin from '@/mixin/changeRoute';

export default {
  name: 'ViewUser',
  components: {
    UserForm,
  },
  mixins: [changeRouteMixin],
  computed: {
    userId() {
      return this.$route.params.id;
    },
    userData() {
      return this.$store.getters.getUserData;
    },
  },
  beforeMount() {
    this.getUserById();
  },
  methods: {
    getUserById() {
      this.$store.dispatch('fetchUserData', this.userId);
    },
  },
};
</script>
