<template>
  <div id="app">
    <router-view />
    <EchoComponent />
  </div>
</template>

<script>
import EchoComponent from '@/components/EchoComponent.vue';

export default {
  name: 'App',
  components: {
    EchoComponent,
  },
};
</script>
